#window {
	background-color: --wofi-color0;
	color: --wofi-color1;
}

#outer-box {
	margin: 3px;
	background-color: --wofi-color0;
}

#input {
	background-color: --wofi-color0;
	color: --wofi-color1;
	border: 1px solid --wofi-color2;
}

#entry {
	color: --wofi-color1;
}

#entry:selected {
	background-color: --wofi-color2;
	color: --wofi-color0;
}

#img {
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}