[Unit]
Description=Auto-update Discord
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Sy discord --noconfirm
